* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
::placeholder{
  color: #0d3627;
}

body {
  background: linear-gradient(90deg, rgb(199, 16, 255) 0%, rgb(22, 175, 150) 100%); 
  background-size: 100vw 200vw; 
  background-repeat: no-repeat;
  animation: waveAnimation 5s ease infinite alternate;
}
@media screen and (max-width: 720px) {
  body {
    background-size: auto;
  }
  .details h1, p{
  font-size: 10px;
  }
  span{
    font-size: 13px !important;
  }
}
@keyframes waveAnimation {
  0% {
    background-position: 0% center; 
  }
  100% {
    background-position: 100% center; 
  }
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
 max-width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}


.details {
  position: fixed;
  bottom: 0; 
  left: 0; 
  right: 0; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh; 
  padding: 0 32px;
}

span{
  font-size: 2rem;
  color: #a7d8db;
}



p{
  right: 0;
  color: #fff;
}
.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 10px 0 0 4px;
  border: 2px solid #4000c0;
  outline: none;
  max-width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  font-weight: 600;
  padding: 16px;
  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}
.todo-button:hover{
  background: linear-gradient(
    90deg,
    rgb(72, 9, 155) 0%,
    rgba(128, 0, 163, 0.664) 100%
  );
}
.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
 
}

.todo-row {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}
.todo-row:hover{
  scale: 0.98;
  transition: ease-in-out;
}
.delete-icon:hover{
  color: #000000;
}
.edit-icon:hover{
  color: #00ff00;
}


.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  margin-right: 8px;
  color: #fff;
}